* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* start header */
.main-header {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    padding: 0;
    background: url(../img/brush-art-watercolor-painting-oil-painting-png.png);
    background-repeat: no-repeat;
}

.main-header__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 51px;
    padding-left: 15px;
}

.main-header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__navigation {
    display: flex;
    justify-content: space-between;
}

.main-header__nav-wrapper {
    display: flex;
}

.main-header__logo {
    margin-top: 14px;
    width: 130px;
    height: 129.76px;
}

.main-header__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin: 0;
}

.main-header__text--left {
    padding-left: 276px;
}

.main-header__link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #000000;
    padding-left: 35px;
}

.main-header__navigation-links {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    margin-top: 34.1px;
    padding-left: 45px;
}

.main-header__navigation-links--right {
    padding-left: 0px;
}

.main-header__navigation-links:hover {
    color: #FE164A;
}

.main-header__button {
    background: #77C1E5;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 36px;
    padding-right: 36px;
    margin-top: 19px;
    border: 1px solid #ffffff;
    outline: none;
}

.main-header__button:hover {
    background: #FE164A;
    border: 1px solid #FE164A;
}

/* end header */

.main-index {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

/* start mask */

.mask {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px;
    background: url(../img/mask.jpg);
    background-repeat: no-repeat;
    height: 550px;
}

.mask__text-wrapper {
    padding-top: 200px;
    padding-right: 59px;
}

.mask__text {
    font-family: 'Alex Brush', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    text-align: right;
    color: #000000;
    margin: 0px;
    text-align: right;
    padding-right: 15px;
    position: relative;
    z-index: 1;
}

.mask__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 75px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0px;
    text-align: right;
    position: relative;
    z-index: 1;
}

.mask__img {
    position: relative;
    left: 580px;
    bottom: 165px;
    z-index: 0;
}
/* end mask */