* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-width: 1170px;
}


/* start header */
.main-header {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    padding: 0;
    background: url(../img/brush-art-watercolor-painting-oil-painting-png.png);
    background-repeat: no-repeat;
}

.main-header__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 51px;
    padding-left: 15px;
}

.main-header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header__navigation {
    display: flex;
    justify-content: space-between;
}

.main-header__nav-wrapper {
    display: flex;
}

.main-header__logo {
    margin-top: 14px;
    width: 130px;
    height: 129.76px;
}

.main-header__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    margin: 0;
}

.main-header__text--left {
    padding-left: 276px;
}

.main-header__link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #000000;
    padding-left: 35px;
}

.main-header__navigation-links {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    text-decoration: none;
    margin-top: 34.1px;
    padding-left: 45px;
}

.main-header__navigation-links--right {
    padding-left: 0px;
}

.main-header__navigation-links:hover {
    color: #FE164A;
}

.main-header__button {
    background: #77C1E5;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 36px;
    padding-right: 36px;
    margin-top: 19px;
    border: 1px solid #ffffff;
    outline: none;
}

.main-header__button:hover {
    background: #FE164A;
    border: 1px solid #FE164A;
}

.main-header__link {
    margin: 0;
    padding: 0;
}

/* end header */

.main-index {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
}

/* start mask */

.mask {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px;
    background: url(../img/mask.jpg);
    background-repeat: no-repeat;
    height: 550px;
}

.mask__text-wrapper {
    padding-top: 200px;
    padding-right: 59px;
}

.mask__text {
    font-family: 'Alex Brush', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 58px;
    text-align: right;
    color: #000000;
    margin: 0px;
    text-align: right;
    padding-right: 15px;
    position: relative;
    z-index: 1;
}

.mask__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 75px;
    text-align: right;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0px;
    text-align: right;
    position: relative;
    z-index: 1;
}

.mask__img {
    position: relative;
    left: 580px;
    bottom: 165px;
    z-index: 0;
}

/* end mask */

/*start services */

@font-face {
    font-family: a_AvanteTitlerCpsUpC;
    src: url(/fonts/ofont.ru_a_AvanteTitlerCpsUpC.ttf);
}

.services {
    max-width: 1280px;
    ;
    margin: 0 auto;
    padding: 0;
}

.services__wrapper-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: url(../img/brush-art-watercolor-gray.png);
    background-repeat: no-repeat;
    background-position: bottom -50px left;

}

.services__heading {
    font-family: a_AvanteTitlerCpsUpC, arial;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0.05em;
    color: #FE164A;
    text-align: right;
    text-transform: uppercase;
    margin-top: 86px;
    margin-bottom: 0;
    padding-right: 72px;
}

.services__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    text-align: right;
    width: 530px;
    padding-right: 55px;
    margin-top: 30px;
}

.services__all {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-left: 55px;
    background: url(../img/IMGBIN_brush-art-watercolor-pink-bug.png);
    background-repeat: no-repeat;
    background-position: bottom -250px right;

}

.services__card-wrapper {
    width: 884px;
    display: flex;
    flex-wrap: wrap;
}

.services__card {
    display: flex;
    flex-direction: column;
}

.services__card:nth-child(2) {
    margin-left: 30px;
}

.services__card:nth-child(4) {
    margin-left: 30px;
    margin-top: -15px;
}

.services__card:nth-child(3) {
    margin-top: -15px;
}

.services__picture {
    border-radius: 15px;
}

.services__card-wrapper-ver {
    margin-left: 15px;
}

.services__card-link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #000;
    max-width: 265px;
    padding-top: 10px;
}

.services__card-link:hover {
    color: #FE164A;
}

.services__price-container {
    position: relative;
    transition: 0.5s;
    margin: 0;
    bottom: 50%;
    margin: 0;
    color: #000;
}

.services__text-price {
    opacity: 0;
    margin: 0;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
    color: #000000;
    transition: 1s;
}

.services__text-price:hover {
    opacity: 1;
    color: #000000;
}

.services__price {
    text-align: center;
    margin: 0 auto;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-decoration-line: underline;
    color: #000000;
    margin-top: 30px;
}

.services__price:hover {
    color: #FE164A;
}






/*end services*/